In [120]:
import pandas as pd
import numpy as np
import io 
import dbf
import simpledbf

In [122]:
dbf_file = Dbf5('C://Users//Toni Stan//Desktop//AZAP//05. TH//01. Input//Liability//02. Input Conversion//input_conversion_th_2.dbf')

In [109]:
csv_file = dbf_file.to_csv('C:/Users/Toni Stan/Desktop/Phyton/Projects/test.csv')

In [123]:
file = pd.read_csv('C:/Users/Toni Stan/Desktop/Phyton/Projects/test.csv')

file.head(2)

file.replace('U_MYUL', 'TEST')

,POL_NUM,PROD_CODE,PROD_ADJ,PROM_TP,BRANCH,SUBBRCH,PLAN_CODE,BANK,PID_0,COUNTRY,...,HRG,TOPUP_FLAG,ISSUE_YEAR,ISSUE_MTH,TP_MOD_IDX,REINS_MORT,PRODUCT,GROUP,DDFNAME,RECORDNO
0,3021294647,TEST,0,0,0,0,MU,0,0,TH,...,0,0,2016,12,_,NaN,top,TEST,test_char.dd,2
1,3021294659,TEST,0,0,0,0,MU,0,0,TH,...,0,0,2016,12,_,NaN,top,TEST,test_char.dd,3

In [124]:
print(file)

      POL_NUM PROD_CODE  PROD_ADJ  PROM_TP  BRANCH  SUBBRCH PLAN_CODE  BANK  \
0  3021294647    U_MYUL         0        0       0        0        MU     0
1  3021294659    U_MYUL         0        0       0        0        MU     0

   PID_0 COUNTRY    ...     HRG TOPUP_FLAG  ISSUE_YEAR ISSUE_MTH  TP_MOD_IDX  \
0      0      TH    ...       0          0        2016        12           _
1      0      TH    ...       0          0        2016        12           _

  REINS_MORT PRODUCT   GROUP       DDFNAME  RECORDNO
0        NaN     top  U_MYUL  test_char.dd         2
1        NaN     top  U_MYUL  test_char.dd         3

[2 rows x 37 columns]